<dashboard-navbar></dashboard-navbar>

<section class="container hero is-fluid is-fullheight-with-navbar">
  <div class="center">
    <div class="columns">
      <div class="column is-one-third">
        <dashboard-infos></dashboard-infos>
        <dashboard-eventfeed></dashboard-eventfeed>
      </div>
      <div class="column is-two-third">
        <div class="columns">
          <div class="column is-narrow">
            <traffic-lights></traffic-lights>
          </div>
          <div class="column">
            <dashboard-graph></dashboard-graph>
          </div>
        </div>

      </div>
    </div>




  </div>
</section>

<dashboard-footer></dashboard-footer>