<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="title ml-3 mt-3 mr-6">
      <p><img src="../../../favicon.ico" style="height: 0.75em;" /> SCADA</p>
    </div>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item mt-2" href="{{dynamicDashboardUrl}}" target="_blank"> Infoboard </a>

      <a class="navbar-item mt-2" href="/grid" target="_blank"> Grid View </a>
      <a class="navbar-item mt-2">
        <dashboard-grafana-control></dashboard-grafana-control>
      </a>
    </div>
  </div>
</nav>
<hr class="navbar-divider" />
